<div class="floaters">
  {% floater "background5", { top: "2vh",   left: "72vw", width: "260px", rotate: "8deg",   speed: 0.55, z: 2 } %}
  {% floater "badge",       { top: "10vh",  left: "6vw",  width: "150px", rotate: "-10deg", speed: 0.25, z: 1 } %}
  {% floater "background3", { top: "48vh",  left: "80vw", width: "220px", rotate: "5deg",   speed: 0.4,  z: 1 } %}
  {% floater "heads2",      { top: "60vh",  left: "3vw",  width: "240px", rotate: "-4deg",  speed: 0.6,  z: 2 } %}
  {% floater "background4", { top: "95vh",  left: "68vw", width: "280px", rotate: "-7deg",  speed: 0.3,  z: 1 } %}
  {% floater "faded_portrait", { top: "115vh", left: "10vw", width: "200px", rotate: "6deg", speed: 0.5, z: 2 } %}
  {% floater "background6", { top: "150vh", left: "78vw", width: "230px", rotate: "-9deg",  speed: 0.35, z: 1 } %}
  {% floater "background7", { top: "180vh", left: "5vw",  width: "210px", rotate: "10deg",  speed: 0.5,  z: 1 } %}
  {% floater "heads",       { top: "205vh", left: "60vw", width: "160px", rotate: "-5deg",  speed: 0.28, z: 2 } %}
  {% floater "background5", { top: "230vh", left: "20vw", width: "180px", rotate: "4deg",   speed: 0.45, z: 1 } %}
</div>
